/* Font Family
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.font-styleguide {
	font-family: $font-styleguide;
}

.font-primary {
	font-family: $font-primary;
}

.font-italic {
	font-family: $font-italic;
}

/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.text-green {
	color: color(success, '300');
}

.text--main-blue {
	color: $color--primary !important;
}

.text-grey {
	color: $grey !important;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body,
html {
	font-family: $font-primary;
	color: #1a1a1a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 300;
	margin-top: 0;
	margin-bottom: 0;
	letter-spacing: .5px;
}

h1 {
	font-size: 27px;
	line-height: 1.21818182em;
}

h2 {
	font-size: 24px;
	line-height: 32px;
}

h3 {
	font-size: 20px;
	line-height: 32px;
}

h4 {
	font-size: 18px;
	line-height: 24px;
}

h5 {
	font-size: 16px;
	line-height: 24px;
}

h6 {
	font-size: 13px;
	line-height: 20px;
	letter-spacing: .25px;
}

p {
	font-size: 14px;
	line-height: 20px;
	margin-top: 0;
	margin-bottom: 16px;
}


/* Sizes
-------------------------------------------*/

.type-xs {
	font-size: 12px;
	line-height: 20px;
	letter-spacing: .25px;
}

.type-sm {
	font-size: 14px;
	line-height: 20px;
}

.type-md {
	font-size: 16px;
	line-height: 24px;
}

.type-lg,
.modal-body p {
	font-size: 18px;
	line-height: 24px;
}

.type-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.type-break-word {
	word-wrap: break-word;
}


/* Alignment
-------------------------------------------*/

.txt-c {
	text-align: center !important;
}

.txt-r {
	text-align: right !important;
}

.txt-l,
.tooltip-content {
	text-align: left !important;
}

/* Opacity
-------------------------------------------*/
.op-1 {
	opacity: 1 !important;
}

.op-half {
	opacity: .5;
}

/* Weights
-------------------------------------------*/

.em--low {
	font-weight: 300;
}

.em--default {
	font-weight: 400;
}

.em--high {
	font-weight: 600;
}

.em--max {
	font-weight: 700;
}

.em--alt {
	text-transform: uppercase;
}

.type--underline {
	text-decoration: underline;
}

.text--uppercase {
	text-transform: uppercase;
}

.text--italic {
	font-style: italic;
}

/* Color
-------------------------------------------*/
.type--light {
	color: color(neutral, '500');
	font-size: 30px;
	text-align: right;
	line-height: 1.3em;
}

.type--red {
	position: relative;
	top: 10px;
	color: #ff0000;
}

.type--success {
	color: color(success, '300');
}