$color--primary: #0C3E66;
$color--alt: #2674B3;
$color--accent: #C0403C;

/* Typography
-------------------------------------------*/

$font-primary: Arial, sans-serif; 
$font-styleguide: Arial, monospace;
$font-italic: Arial, sans-serif;


/* Colors
-------------------------------------------*/
$white: #fdfdfd;
$black: #1a1a1a;
$grey: #565a5c;

$buttonMain: #0C3E66;
$buttonDecline: #C0403C;
$buttonAlternative: #2674B3;

$colors: (
	base: (
    white: #f6f6f6,
    lightest: #f5f5f5,
    lighter: #f9f9f9,
    light: #f0f0f3,
    base: #404043,
    dark: #666666,
    black: #12130f,
	primary: #005CA6,
	grey: #EAEAEA,
	mid: #3e4e57, 
    secondary: #58595B,
	accent: #CB1E40,
	bg: #F6F6F6
  ),
  grey: (
    lighter: #f9fafb,
    light: #f4f6f8,
    mid: #EAEAEA,
    base: #dfe3e8,
    dark: #c4cdd5,
    darker: #777777,
    mid-dark: #636363,
    darkest:#282828
  ),
	neutral: (
		'50' :  #f0f0f0,
		'75' :  #e3e3e3,
		'100' : #d9d9d9,
		'200' : #bfbfbf,
		'300' : #a5a5a5,
		'400' : #929292,
		'500' : #7f7f7f,
		'600' : #777777,
		'700' : #6c6c6c,
		'800' : #626262,
		'900' : #4f4f4f,
		'black' : #252525
	),
	brand: (
		'50' : #e0ebf4,
		'100' : #b3cee4,
		'200' : #80aed3,
		'300' : #4d8dc1,
		'400' : #2674b3,
		'500' : #005ca6,
		'600' : #00549e,
		'700' : #004a95,
		'800' : #00418b,
		'900' : #00307b,
		'A100' : #a8c3ff,
		'A200' : #759fff,
		'A400' : #427cff,
		'A700' : #296aff,
		'contrast': #ffffff
	),
	accent: (
		'50' : #f9e4e8,
		'100' : #efbcc6,
		'200' : #e58fa0,
		'300' : #db6279,
		'400' : #d3405d,
		'500' : #cb1e40,
		'600' : #c61a3a,
		'700' : #be1632,
		'800' : #b8122a,
		'900' : #ac0a1c,
		'A100' : #ffd8db,
		'A200' : #ffa5ac,
		'A400' : #ff727d,
		'A700' : #ff5866,
		'contrast': #ffffff
	),
	success: (
		'100': #4D8013,
		'200': #5C9917,
		'300': #6CB31B,
		'400': #7BCC1F,
		'500': #8AE622,
		'600': #EDFFD9
	),
	warning: (
		'100': #806613,
		'200': #997B17,
		'300': #B38F1B,
		'400': #CCA41F,
		'500': #E6B822,
		'600': #FFF6D9
	),
	error: (
		'100': #801319,
		'200': #99171D,
		'300': #B31B22,
		'400': #CC1F27,
		'500': #F2242F,
		'600': #FFD9DB
	)
) !default;

@function color($color, $tone: '500') {
	@return map-get(map-get($colors, $color), $tone);
}

/* Shadows
-------------------------------------------*/
$shadow-key-umbra-opacity: 0.2 !default;
$shadow-key-penumbra-opacity: 0.14 !default;
$shadow-ambient-shadow-opacity: 0.12 !default;

.shadow-focus {
	box-shadow: 0 0 8px rgba(0,0,0,.18),0 8px 16px rgba(0,0,0,.36);
}

.shadow-2dp {
	// box-shadow: 0 2px 2px 0 rgba(0, 0, 0, $shadow-key-penumbra-opacity),
	// 							0 3px 1px -2px rgba(0, 0, 0, $shadow-key-umbra-opacity),
	// 							0 1px 5px 0 rgba(0, 0, 0, $shadow-ambient-shadow-opacity);
}

.shadow-3dp {
	// box-shadow: 0 3px 4px 0 rgba(0, 0, 0, $shadow-key-penumbra-opacity),
	// 							0 3px 3px -2px rgba(0, 0, 0, $shadow-key-umbra-opacity),
	// 							0 1px 8px 0 rgba(0, 0, 0, $shadow-ambient-shadow-opacity);
}

.shadow-4dp {
	// box-shadow: 0 4px 5px 0 rgba(0, 0, 0, $shadow-key-penumbra-opacity),
	// 							0 1px 10px 0 rgba(0, 0, 0, $shadow-ambient-shadow-opacity),
	// 							0 2px 4px -1px rgba(0, 0, 0, $shadow-key-umbra-opacity);
}

.shadow-6dp {
	// box-shadow: 0 6px 10px 0 rgba(0, 0, 0, $shadow-key-penumbra-opacity),
	// 							0 1px 18px 0 rgba(0, 0, 0, $shadow-ambient-shadow-opacity),
	// 							0 3px 5px -1px rgba(0, 0, 0, $shadow-key-umbra-opacity);
}

.shadow-8dp {
	// box-shadow: 0 8px 10px 1px rgba(0, 0, 0, $shadow-key-penumbra-opacity),
	// 							0 3px 14px 2px rgba(0, 0, 0, $shadow-ambient-shadow-opacity),
	// 							0 5px 5px -3px rgba(0, 0, 0, $shadow-key-umbra-opacity);
}

.shadow-16dp {
	// box-shadow: 0 16px 24px 2px rgba(0, 0, 0, $shadow-key-penumbra-opacity),
	// 							0  6px 30px 5px rgba(0, 0, 0, $shadow-ambient-shadow-opacity),
	// 							0  8px 10px -5px rgba(0, 0, 0, $shadow-key-umbra-opacity);
}

.shadow-24dp {
	// box-shadow: 0  9px 46px  8px rgba(0, 0, 0, $shadow-key-penumbra-opacity),
	// 							0 11px 15px -7px rgba(0, 0, 0, $shadow-ambient-shadow-opacity),
	// 							0 24px 38px  3px rgba(0, 0, 0, $shadow-key-umbra-opacity);
}

// $shadow-24dp: 0  9px 46px  8px rgba(0, 0, 0, $shadow-key-penumbra-opacity),
// 							0 11px 15px -7px rgba(0, 0, 0, $shadow-ambient-shadow-opacity),
// 							0 24px 38px  3px rgba(0, 0, 0, $shadow-key-umbra-opacity);

/* Background Styles
-------------------------------------------*/
.bg--gradient {
	// background: linear-gradient(to top, color(brand, '700'), color(brand, '100'));
	background: rgba(223, 227, 232, 0.9);
	position: fixed;
}